<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>development-remote</string>
	<key>servers</key>
	<dict>
		<key>development</key>
		<string>http://localhost:8000</string>
		<key>development-remote</key>
		<string>http://10.0.1.7:8000</string>
		<key>stage</key>
		<string>http://prowlist.com</string>
		<key>production</key>
		<string>http://stage.prowlist.com</string>
	</dict>
	<key>api</key>
	<dict>
		<key>signup</key>
		<string>/api/members/quick-signup/</string>
		<key>member-update</key>
		<string>/api/members/update/</string>
		<key>near-venues</key>
		<string>/api/venues/near/</string>
	</dict>
	<key>services</key>
	<dict>
		<key>image</key>
		<string>/services/image/[WIDTH]x[HEIGHT]/[IMAGE_PATH]</string>
	</dict>
</dict>
</plist>
